:root {
  --primary: #404258;
  --secudary: #474E68;
  --blue: #50577A;
  --gray: #6B728E;
  --white: #fff;
}
/* global styles */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: var(--primary);
  margin: 0;
}
.inactive {
  display: none;
}
.inactive-mobile {
  display: none !important;
}
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
/* Navbar Section */
#navbar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: var(--secudary);
  padding: 8px 4px;
  color: var(--white);
  max-height: 710px;
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hamburger-menu-icon-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hamburger-menu-icon {
  height: 50px;
}
.items-navbar-container {
  min-height: 515px;
  /* max-height: 546px; */
  height: 100%;
  background-color: var(--primary);
  list-style: none;
  padding: 20px 0 8px;
  margin-top: 12px;
  margin-bottom: 4px;
  border-radius: 10px;
}
.items-navbar-container:last-child {
  min-height: 82px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 8px 0;
}
.items-navbar-container__item {
  padding: 0 8px;
  margin-bottom: 8px;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
}
.items-navbar-container__item:last-child {
  margin-bottom: 0;
}
.items-navbar-container__item .navbar-icon {
  height: 30px;
  margin-right: 8px;
}
.items-navbar-container__item__link {
  text-decoration: none;
  color: var(--white);
  display: flex;
  align-items: baseline;
}
.items-navbar-container__item.search-container {
  height: auto;
}
#input-search {
  height: 40px;
  width: 85%;
  border-radius: 10px;
  font-size: 2rem;
  padding: 4px;
}
.manage-account {
  height: auto;
  display: flex;
  align-items: center;
}
.items-navbar-container__item.user-container {
  height: auto;
  width: 85%;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 0;
}
.items-navbar-container__item.setting-container {
  width: 15%;
}
.user-container .icon-user-profile,
.setting-container .icon-setting {
  height: 30px;
}
.setting-container .icon-setting {
  margin-right: 0;
}
.icon-user-profile {
  width: 15%;
}
.user-container-info {
  width: 85%;
}
.user-container-info__text,
.user-container-info__title {
  font-size: 2rem;
  margin: 0;
}
/* premiere-cover */
#header-premiere-cover {
  position: relative;
  height: 25vh;
  background-color: var(--blue);
  margin-top: 66px;
}
#premiere-cover {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  background-image: url('https://images.pexels.com/photos/262367/pexels-photo-262367.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.premiere-cover__title {
  font-size: 3rem;
  color: var(--white);
  margin-bottom: 30px;
}
/* main */
#main {
  position: relative;
  padding: 0 4px;
}
#keep-watching {
  height: 30vh;
  margin: 8px 0;
  
  display: flex;
  flex-direction: column;
}
.keep-watching__title {
  font-size: 2.5rem;
  height: 10%;
  color: var(--white);
}
.scroll-container {
  position: relative;
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-arrow,
.right-arrow {
  height: 100%;
  width: 10%;
  position: absolute;
  background: rgba(0,0,0,0.3);
}
.arrow-icon {
  height: 50px;
  width: 100%;
  position: absolute;
  top: 50%;
}
.left-arrow {
  left: 0;
}
.left-arrow-icon {
  left: 50%;
  transform: translate(-50%, -50%);
}
.right-arrow {
  right: 0;
}
.right-arrow-icon {
  right: 50%;
  transform: translate(50%, -50%);
}
.view-components-container {
  height: 100%;
  width: 90%;

  display: flex;
  align-items: center;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  scrollbar-color: var(--gray) var(--blue);
  scrollbar-width: thin;
}
.view-components-container::-webkit-scrollbar {
  height: 8px;
  background-color: var(--blue);
} 
.view-components-container::-webkit-scrollbar-thumb {
  background-color: var(--gray);
}
.view-component {
  display: flex;
  height: 85%;
  min-width: 280px;
  margin-right: 8px;
  border-radius: 5px;
  background-color: var(--secudary);
  scroll-snap-align: start;

  background-image: url('https://images.pexels.com/photos/6447217/pexels-photo-6447217.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.view-component:nth-child(even) {
  background-image: url('https://images.pexels.com/photos/1117132/pexels-photo-1117132.jpeg?auto=compress&cs=tinysrgb&w=600');
}

/* catalague section */
.catalague {
  height: 25vh;
  margin-bottom: 28px;

  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.catalague__title {
  position: relative;
  top: 8px;
  text-transform: capitalize;
  font-size: 2.5rem;
  margin-right: 8px;
  margin-bottom: 12px;
  color: var(--white);
}
.see-more__link {
  position: relative;
  top: 8px;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  color: #2192FF;
}

#footer {
  height: 10vh;
  background-color: #000;
}

@media (min-width: 640px) {
  #navbar {
    height: 100vh;
    max-height: max-content;
  }
  .inactive-mobile {
    display: block !important;
  }
  .desktop-layout .navbar-icon,
  .desktop-layout .user-container,
  .desktop-layout .items-navbar-container__item,
  .desktop-layout .icon-user-profile {
    /* position: relative; */
    width: auto;
    margin-right: 0;
  }
  #navbar .manage-account { 
    display: flex !important;
  }
  .manage-account.desktop-layout {
    display: flex;
    flex-direction: column !important;
    align-items: center;
  }
  #navbar.desktop-layout {
    width: auto;
  }
  .hamburger-menu-icon-container,
  .items-navbar-container__item {
    cursor: pointer;
  }
  #header-premiere-cover {
    margin-top: 0;
  }
  #header-premiere-cover,
  #main,
  #footer {
    margin-left: 60px;
  }
  
}