:root {
  --primary: #404258;
  --secudary: #474E68;
  --blue: #50577A;
  --gray: #6B728E;
  --white: #fff;
}
/* global styles */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: var(--primary);
  margin: 0;
  background-color: var(--white);
}
/* toggle navbar */
.navbar-sections-container.inactive-navbar-sections {
  display: none;
}
#navbar.inactive-navbar {
  height: auto;
  min-height: auto;
}
/* Utilities */
.rotate90 {
  transform: rotate(90deg);
}
.inactive {
  display: none;
}
/* navbar */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  min-width: min-content;
  height: 100vh;
  min-height: 500px;
  padding: 8px 4px;
  color: var(--white);
  background-color: var(--secudary);
}
.hamburger-menu-icon-container {
  height: min-content;
  background-color: var(--secudary);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hamburger-menu-icon {
  width: 50px;
}
.navbar-sections-container {
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.items-navbar-container {
  height: calc(100% - 56px);
  list-style: none;
  background-color: var(--primary);
  padding: 8px 4px 8px 8px;
  margin-top: 12px;
  margin-bottom: 4px;
  border-radius: 10px;
}
.items-navbar-container:last-child {
  margin-bottom: 0;
}
.items-navbar-container__item {
  height: 40px;
  width: 100%;
  margin-bottom: 8px;
}
.items-navbar-container__item:last-child {
  margin-bottom: 0;
}
.items-navbar-container__item__link {
  text-decoration: none;
  color: var(--white);
  display: flex;
  align-items: baseline;
}
.navbar-icon {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.navbar-icon.icon-user-profile {
  height: 43px;
}
.search-container {
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
#input-search {
  height: 40px;
  width: calc(100% - 48px);
  border-radius: 10px;
  font-size: 2rem;
  padding: 4px;
}
.category-name {
  display: inline-block;
  height: 100%;
  width: 100%;
  font-size: 2.5rem;
}
.items-navbar-container.manage-account {
  height: min-content;
  display: flex;
}
.manage-account .user-container {
  height: min-content;
  width: 85%;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.user-container .user-container-info {
  height: min-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-container-info__title {
  width: 100%;
  margin: 0 0 2px;
  font-size: 2rem;
}
.user-container-info__text {
  margin: 0;
  font-size: 1.6rem;
}
.manage-account .setting-container {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.setting-container .icon-setting {
  margin-right: 0;
}
/* Category list */
#category-list-container {
  height: auto;
  position: relative;
}
.category-list {
  background-color: var(--blue);
  border-radius: 10px;
  list-style: none;
  padding: 4px 0;
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
}
.category-list__category {
  width: 80%;
  margin: 0 auto;
  padding-left: 28px;
}
.category__link {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
}
.arrow-categories-icon {
  height: 20px;
}
footer {
  height: 40px;
  background-color: black;
}

main p {
  height: 500px;
}

@media (min-width: 640px) {
  /* utilities - desktop */
  .selected-category {
    /* box-shadow: -4px 0px 0px 0px var(--white); */
    border-left: 4px solid white;
    padding-left: 4px;
  }
  /* .inactive {
    display: none;
  } */
  /* navabr desktop */
  #navbar {
    max-width: max-content;
  }
  .hamburger-menu-icon-container:hover,
  .items-navbar-container__item:hover {
    cursor: pointer; 
  }
  .items-navbar-container.manage-account {
    flex-direction: row;
    align-items: center;
  }
  .manage-account .setting-container {
    width: auto;
    justify-content: flex-start;
  }
  /* toggle navbar desktop */
  #navbar.inactive-navbar {
    height: 100vh;
    min-height: 500px;
  }
  .navbar-sections-container.inactive-navbar-sections {
    display: flex;
  }
  .items-navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .category-name.inactive {
    display: none;
  }
  .user-container-info.inactive {
    display: none;
  }
  .inactive-navbar-sections .manage-account {
    flex-direction: column;
    align-items: flex-start;
  } 

  /* category - desktop */
  .category-list__category:hover {
    font-weight: bold;
  }
}